div.pokemonCard {
    width: 250px;
    height: 350px;
    border: 8px solid yellow;
    border-radius: 15px;
    background: white;
    display: inline-block;
}

div.pokemoncardHeader {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 25px;
}

div.headerName {
    display: inline-block;
    width: 120px;
    height: 20px;
    border: 2px solid black;
    top: 0px;
    left: 0px;
}

div.headerLvel {
    display: inline-block;
    width: 20px;
    height: 20px;
}

div.header.HP {
    width: 20px;
    height: 20px;
}