<div class="splashContainer">
    <div class="pokemonCardContainer" ng-repeat="pokemon in newpokemons">
        <div class="pokemonNameLvl">{{pokemon.name}} Lv. {{pokemon.lvl}}</div>
        <div class="pokemonHp">HP {{pokemon.hp}}</div>
        <div class="pokecardPicture">
            <img align="bottom" src='./assets/pics/front/{{pokemon.id}}.png'>
           <div class="sky"></div>
           <div class="horizon"></div>
           <div class="ground"></div>
        </div>
        <div class="pokemoncardMoves">
            <div class="move" ng-repeat="move in pokemon.moves">
                <div class="moveText">
                    <h5>{{move.name}}</h5>
                    <p>{{move.text}}</p>
                </div>
                <div class="movePP">
                    {{move.pp}}
                </div>
            </div>
        </div>
        <div class="footerAbility">{{pokemon.abilities[0].name}}</div>
        <div class="footerAtkDef">{{pokemon.atk}}/{{pokemon.def}}</div>
        <audio autoplay>
          <source ng-src="{{pokemon.ogg}}">
          <source ng-src="{{pokemon.mp3}}">
        </audio>
    </div>  
</div>

<br>
<a href="#/world" ng-if="loadingComplete">Continue</a> 