<div class="splashContainer">
     <div class="pokemonCard" ng-repeat="pokemon in newpokemons">
        <div class="pokemoncardHeader">
           <div class="headerName">{{pokemon.name}}</div>
           <div class="headerLevel">Lv. {{pokemon.lvl}}</div>
           <div class="headerHP">HP {{pokemon.hp}}</div>
        </div>
        <div class="pokecardPicture">
           <div class="pokemonPic">
             <img src='./assets/pics/front/{{pokemon.id}}.png'>
           </div>
        </div>
        <div class="pokemoncardMoves">
            <div class="pokemoncardMove" ng-repeat="move in pokemon.moves">
                <div class="moveText">
                    <b>{{move.name}}</b>
                    <p>{{move.text}}</p>
                </div>
                <div class="movePP">
                    {{move.pp}}
                </div>
            </div>
        </div>
        <div class="pokemoncardFooter">
            <div class="footerAbility">{{pokemon.abilities[0].name}}</div>
            <div class="footerAtkDef">{{pokemon.atk}}/{{pokemon.def}}</div>
        </div>
        <audio autoplay>
          <source ng-src="{{pokemon.ogg}}">
          <source ng-src="{{pokemon.mp3}}">
        </audio>
    </div>  
</div>

<br>
<a href="#/world" ng-if="loadingComplete">Continue</a> 