<div class="splashContainer">
    <div class="pokemonCardContainer" id="cardDrag">
        <div class="cardFlipper">
           <div class="cardFront">
                <div class="lvl">Lv 1</div>
                <div class="name">Pikachu</div>
                <div class="hp">60</div>
                <div class="picContainer">
                    <div class="picBox">
                        <div class="sky"></div>
                        <div class="ground"></div>
                        <div class="pokemonPic"></div>
                    </div>
                </div>
                <div class="footerBorder"></div>
                <div class="pokeAttrib atk">
                    <div class="attribLogo">
                        <i class="icon-red fa fa-hand-rock-o" aria-hidden="true"></i>
                    </div>
                    <div class="attribNumber">
                        <span>10</span>
                    </div>
                </div>
                <div class="pokeAttrib spd">
                   <div class="attribLogo">
                        <i class="icon-yellow fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <div class="attribNumber">
                        <span>40</span>
                    </div>
                </div>
                <div class="pokeAttrib def">
                    <div class="attribLogo">
                        <i class="icon-blue fa fa-shield" aria-hidden="true"></i>
                    </div>
                    <div class="attribNumber">
                        <span>8</span>
                    </div>
                </div>
            </div>
            <div class="cardBack">
                fdas
            </div>
        </div>
    </div>
</div>

<br>
<a href="#/world" ng-if="loadingComplete">Continue</a> 
