<div class="innerScreenBorder">
    <div id="gameWindow" tabindex="1" ng-click="keypress($event)" ng-keyup="keypressup($event)" ng-keydown="keypressdown($event)">
        <div class="world"></div>
        <div id="player" class="standardTile"></div>
        <div id="renderMap">
            <div ng-repeat="mapTile in rawMap track by $index" class="gameTileItem" ng-click="pasteTile($index)">
                <div class="tileBG {{mapTile.BG}}"></div>
                <div class="tileMG {{mapTile.MG}}"></div>
                <div class="tileMG {{mapTile.MG2}}"></div>
                <div class="tileFG {{mapTile.FG}}"></div>
                <div class="tileFG {{mapTile.FG2}}"></div>
            </div>
        </div>
    </div>
    <div id="battlePartial" ng-include="battlePartialUrl"></div>
</div>
<div class="battleControls">
    <div class="nesController" id="nesController">
        <button class="dpadUp dpad" type="button" ng-click="buttonPress('up')"></button>
        <button class="dpadDown dpad" type="button" ng-click="buttonPress('down')"></button>
        <button class="dpadLeft dpad" type="button" ng-click="buttonPress('left')"></button>
        <button class="dpadRight dpad" type="button" ng-click="buttonPress('right')"></button>
        <button class="controllerA" type="button" ng-click="buttonPress('a')"></button>
        <button class="controllerB" type="button" ng-click="buttonPress('b')"></button>
        <button class="controllerSelect" type="button" ng-click="buttonPress('select')"></button>
        <button class="controllerStart" type="button" ng-click="buttonPress('start')"></button>
    </div>
</div>

<div id="shoppingCart" ng-include="shoppingCartUrl"></div>
<script src="maps.js"></script>
<script src="buildings.js"></script>
<script>
    window.addEventListener("keydown", function(e) {
        // space and arrow keys
        if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);
</script>
<!--<script src="world.js"></script>-->