<div class="innerScreenBorder" >
    <div id="gameWindow" tabindex="1" ng-click="keypress($event)" ng-keyup="keypressup($event)" ng-keydown="keypressdown($event)">
        <div class="world"></div>
        <div id="player" class="standardTile"></div>
        <div id="renderMap">
            <div ng-repeat="mapTile in rawMap track by $index" class="gameTileItem" ng-click="pasteTile($index)">
                <div class="tileBG {{mapTile.BG}}"></div>
                <div class="tileMG {{mapTile.MG}}"></div>
                <div class="tileMG {{mapTile.MG2}}"></div>
                <div class="tileFG {{mapTile.FG}}"></div>
                <div class="tileFG {{mapTile.FG2}}"></div>
            </div>
        </div>
    </div>
</div>
<div ng-show="showBattlePartial" id="battlePartial" ng-include="battlePartialUrl"></div>
<div id="shoppingCart" ng-include="shoppingCartUrl"></div>
<script src="maps.js"></script>
<script src="buildings.js"></script>
<!--<script src="world.js"></script>-->