.login {
    background-image: url(../assets/pics/bg/TitleLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15vh;
    padding-top: 30vh;
    padding-bottom: 25vh;
}

.login form {
    margin-top: 40vh;
}


.splashContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.innerScreenBorder {
    width: 880px;
    height: 560px;
    box-sizing: border-box;
    background: #898989;
    border-radius: 15px;
    border-bottom-right-radius: 120px;
    padding: 30px;
}

.outerScreenBorder {
    background: #BCBCBC;
}