.login {
    background-image: url(../assets/pics/bg/TitleLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15vh;
    padding-top: 30vh;
    padding-bottom: 25vh;
}

.login form {
    margin-top: 40vh;
}


.splashContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.innerScreenBorder {
    width: 700px;
    height: 550px;
    box-sizing: border-box;
    background: #898989;
    border-radius: 15px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    position: relative;
}


.outerScreenBorder {
    background: #BCBCBC;    
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}